WOOCOMMERCE_STORE_URL=https://sokany-eg.com
WOOCOMMERCE_CONSUMER_KEY=ck_your_key_here
WOOCOMMERCE_CONSUMER_SECRET=cs_your_secret_here

NEXTAUTH_SECRET=change_this_secret_before_production
NEXTAUTH_URL=http://localhost:3000
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=change_this_password

FAWRY_MERCHANT_CODE=your_fawry_merchant_code
FAWRY_SECURITY_KEY=your_fawry_security_key
FAWRY_SANDBOX=true
